SparkDataExploration/__pycache__/utils.cpython-312.pyc
/.vscode
DataSchema/Star_schema/ClubDim_avro
DataSchema/Star_schema/CompetitionDim_avro
DataSchema/Star_schema/PlayersDim_avro
DataSchema/Star_schema/ClubDim_csv/_SUCCESS
DataSchema/Star_schema/ClubDim_csv/._SUCCESS.crc
DataSchema/Star_schema/ClubDim_csv/.part-00000-463afd6a-169a-4474-bc45-967e2c390131-c000.csv.crc
DataSchema/Star_schema/ClubDim_csv/part-00000-463afd6a-169a-4474-bc45-967e2c390131-c000.csv
DataSchema/Star_schema/ClubDim_parquet/_SUCCESS
DataSchema/Star_schema/ClubDim_parquet/._SUCCESS.crc
DataSchema/Star_schema/ClubDim_parquet/.part-00000-ac74889f-475a-4c7d-bae4-157d2dce3d27-c000.snappy.parquet.crc
DataSchema/Star_schema/ClubDim_parquet/part-00000-ac74889f-475a-4c7d-bae4-157d2dce3d27-c000.snappy.parquet
DataSchema/Star_schema/CompetitionDim_csv/_SUCCESS
DataSchema/Star_schema/CompetitionDim_csv/._SUCCESS.crc
DataSchema/Star_schema/CompetitionDim_csv/.part-00000-1b3c14c6-25f7-4a62-bfaa-93bdbd2c018e-c000.csv.crc
DataSchema/Star_schema/CompetitionDim_csv/part-00000-1b3c14c6-25f7-4a62-bfaa-93bdbd2c018e-c000.csv
DataSchema/Star_schema/CompetitionDim_parquet/_SUCCESS
DataSchema/Star_schema/CompetitionDim_parquet/._SUCCESS.crc
DataSchema/Star_schema/CompetitionDim_parquet/.part-00000-ed43024f-e8ce-4c4b-9a2e-589ed406c527-c000.snappy.parquet.crc
DataSchema/Star_schema/CompetitionDim_parquet/part-00000-ed43024f-e8ce-4c4b-9a2e-589ed406c527-c000.snappy.parquet
DataSchema/Star_schema/PlayersDim_csv/_SUCCESS
DataSchema/Star_schema/PlayersDim_csv/._SUCCESS.crc
DataSchema/Star_schema/PlayersDim_csv/.part-00000-840b904b-f0ab-40af-affc-bc643e5cbab3-c000.csv.crc
DataSchema/Star_schema/PlayersDim_csv/.part-00001-840b904b-f0ab-40af-affc-bc643e5cbab3-c000.csv.crc
DataSchema/Star_schema/PlayersDim_csv/.part-00002-840b904b-f0ab-40af-affc-bc643e5cbab3-c000.csv.crc
DataSchema/Star_schema/PlayersDim_csv/part-00000-840b904b-f0ab-40af-affc-bc643e5cbab3-c000.csv
DataSchema/Star_schema/PlayersDim_csv/part-00001-840b904b-f0ab-40af-affc-bc643e5cbab3-c000.csv
DataSchema/Star_schema/PlayersDim_csv/part-00002-840b904b-f0ab-40af-affc-bc643e5cbab3-c000.csv
DataSchema/Star_schema/PlayersDim_parquet/_SUCCESS
DataSchema/Star_schema/PlayersDim_parquet/._SUCCESS.crc
DataSchema/Star_schema/PlayersDim_parquet/.part-00000-97708c2f-ab60-40d6-8663-e9c8496fbd42-c000.snappy.parquet.crc
DataSchema/Star_schema/PlayersDim_parquet/.part-00001-97708c2f-ab60-40d6-8663-e9c8496fbd42-c000.snappy.parquet.crc
DataSchema/Star_schema/PlayersDim_parquet/.part-00002-97708c2f-ab60-40d6-8663-e9c8496fbd42-c000.snappy.parquet.crc
DataSchema/Star_schema/PlayersDim_parquet/part-00000-97708c2f-ab60-40d6-8663-e9c8496fbd42-c000.snappy.parquet
DataSchema/Star_schema/PlayersDim_parquet/part-00001-97708c2f-ab60-40d6-8663-e9c8496fbd42-c000.snappy.parquet
DataSchema/Star_schema/PlayersDim_parquet/part-00002-97708c2f-ab60-40d6-8663-e9c8496fbd42-c000.snappy.parquet
DataSchema/Star_schema/TransferFact_avro
DataSchema/Star_schema/TransferFact_csv/_SUCCESS
DataSchema/Star_schema/TransferFact_csv/._SUCCESS.crc
DataSchema/Star_schema/TransferFact_csv/.part-00000-51b88741-8659-49e5-8dd1-6f8b9298f86e-c000.csv.crc
DataSchema/Star_schema/TransferFact_csv/.part-00001-51b88741-8659-49e5-8dd1-6f8b9298f86e-c000.csv.crc
DataSchema/Star_schema/TransferFact_csv/part-00000-51b88741-8659-49e5-8dd1-6f8b9298f86e-c000.csv
DataSchema/Star_schema/TransferFact_csv/part-00001-51b88741-8659-49e5-8dd1-6f8b9298f86e-c000.csv
DataSchema/Star_schema/TransferFact_parquet/_SUCCESS
DataSchema/Star_schema/TransferFact_parquet/._SUCCESS.crc
DataSchema/Star_schema/TransferFact_parquet/.part-00000-7ceb6a5f-2f2a-4d24-aa02-461bdc8b8c85-c000.snappy.parquet.crc
DataSchema/Star_schema/TransferFact_parquet/.part-00001-7ceb6a5f-2f2a-4d24-aa02-461bdc8b8c85-c000.snappy.parquet.crc
DataSchema/Star_schema/TransferFact_parquet/part-00000-7ceb6a5f-2f2a-4d24-aa02-461bdc8b8c85-c000.snappy.parquet
DataSchema/Star_schema/TransferFact_parquet/part-00001-7ceb6a5f-2f2a-4d24-aa02-461bdc8b8c85-c000.snappy.parquet
